body{
    text-align: center;
    background-color: #F7EFE5;
}
h1{
    color:#674188;
}
h2{
    color:#6BF178;
}
.container{
    display:flex;
    justify-content: center;
}
.l1,.l2{
    margin:1%;
}
.btn{
    height:20vh;
    width:20vh;
    border:2px solid black;
    margin:10%;
    border-radius: 20%;
}
.green{
    background-color: #99f7ab;
}
.gray{
    background-color: #60695c;
}
.mint{
    background-color: #43C59E;
}
.aqua{
    background-color: #3DFAFF;
}
.gameflash{
    background-color: white;
}
.userflash{
    background-color:green;
}
.gameend{
    background-color: red;
}
.start{
    background-color: green;
    padding:0.5vh 2vh;
    border-radius: 5vh;
}
.instructions{
    text-align: left;
    background-color: #E2BFD9;
    border-radius: 1vh;
    padding:1vh;
    color:#201E43;
}